language: python

python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"

before_install:
  - sudo apt-get install -y libsundials-serial-dev;

install:
  # install dependencies.
  - pip install .

script:
  - pytest
  - python -m flake8
  - codecov